<!DOCTYPE html>
<html lang="en">
<head>
   <title> HOMEPAGE </title>
   <link rel="stylesheet" href="./styles.css">
   <%- include('./partials/head') %>
   <style>
      h1 {
        font-family : sans-serif ;
        font-size: 3rem ;
        color : lime ;
      }
   </style>
</head>
<body>
    <%- include('./partials/nav') %>

    <%= <h1> Welcome To Our Website </h1>

    <%- include("./partials/script") %>
</body>
</html>
